<app-dashboard></app-dashboard>

<div class="fluid-container">
		<div class="row">

			<div class="col-md-12">
				<div class="col-md-3"></div>

					<div class="col-md-6 well">

            <ul>
            <li *ngFor="let obj of video">
                      <h5 class="card-title">{{obj._question}}</h5>
                      <video style="width: 500px; height: 300px;" controls (click)="toggleVideo()" #videoPlayer>
                      <source src="https://team5external.thedigitalacademy.co.za/testApi/videos/{{obj._videoUrl}}" type="video/mp4" />
                      </video>   
             <br />
             </li> 
            </ul>

            

        <div class="col-md-3"></div>
      </div>	
         
  </div>
     
</div>



