
<div class="fluid-container">
		<div class="row">

			<div class="col-md-12">
				<div class="col-md-3"></div>

					<div class="col-md-6 well">
					<h1 >Login</h1>

							 <label for="name" class="control-label">Username</label>
							 
		 					<input type="text"  class="form-control" placeholder="Enter username"  [(ngModel)]="username">
		 					

		 					<label for="password" class="control-label">Password</label>
							 
		 					<input type="password"  class="form-control" placeholder="Enter Password"  [(ngModel)]="password">
		 					
		 					<br>

               <button  class="btn btn-primary" (click)="loginUser(username,password)" >Login</button><br>
               
        <nav >
            <ul class="nav nav-pills ">
            <li><a  class="nav-item nav-link active" routerLink="/register" routerLinkActive="active">Don't have account ? </a></li>
            <li><a  class="nav-item nav-link active" routerLink="/forget-password" routerLinkActive="active" >Forgot password </a></li>
           </ul>
         </nav>
		 					
            </div>
            
        <div class="col-md-3"></div>
      </div>	
         
  </div>

  
     
</div>
 
  