<app-dashboard></app-dashboard>

  <ul>
    <li *ngFor="let obj of question">namee {{companyName}} 
     </li> 
 </ul>

<button type="submit" class="btn btn-primary" >Edit</button>  
<button type="submit" class="btn btn-primary" >Delete</button> 