   <app-dashboard></app-dashboard>

<div class="fluid-container">
		<div class="row">

			<div class="col-md-12">
				<div class="col-md-3"></div>

					<div class="col-md-6 well">
					<h1 >Change Password</h1>

							 <label for="password" class="control-label">Current Password</label>
							 
		 					<input type="text"  class="form-control" placeholder="Enter current password" >
		 					

		 					<label for="password" class="control-label">New Password</label>
							 
               <input type="password"  class="form-control" placeholder="Enter new password" >
                          
               	<label for="password" class="control-label">Confirm Password</label>
							 
		 					<input type="password"  class="form-control" placeholder="Re-enter new password" >
		 					
		 					<br>

                <button  class="btn btn-primary"  >Save Password</button><br> 
		 					
            </div>
            
        <div class="col-md-3"></div>
      </div>	
         
  </div>   
</div>
 
  