   
<app-dashboard></app-dashboard>
<div class="fluid-container">
		<div class="row">

			<div class="col-md-12">
				<div class="col-md-3"></div>

					<div class="col-md-6 well">
					  <h2>Job details</h2>

        <div class="form-group">
            <label for="job_title">Job Title</label>
            <input  class="form-control"  placeholder="Enter job title" [(ngModel)]="job_title" />
            </div>

             <div class="form-group">
            <label for="description">Description</label>
            <input  class="form-control"  placeholder="Enter job description" [(ngModel)]="description" />
            
            </div>

        <div class="contain">

            <label for="salary">Salary per Annum</label>
            <input  class="form-control"  type="number" placeholder="Enter username" [(ngModel)]="salary"  />
            
        </div>

           <!-- <div>
                <label>Role</label>
                <select name="role" [(ngModel)]="user.role">
                    <option *ngFor="let role of roles" [value]="role.value">  
                    {{role.display}}
                    </option>
                </select>
                </div>  -->

           <select >
          <option value="select job type...">Select job type...</option>
          <option value="Full time">Full time</option>
          <option value="Part time">Part time</option>
          <option value="Fixed term">Fixed term</option>
       </select>   

        <select>
          <option value="select job type...">Select job sector...</option>
          <option value="IT">IT</option>
          <option value="Engineering">Engineering</option>
          <option value="Finance">Finance</option>
          <option value="Public Relations">Public Relations</option>
          <option value="HR">HR</option>
       </select>

        <div class="form-group">
        <label for="expireDate">expire date</label>
        <input type="text" class="form-control"  placeholder="Enter expiry date" [(ngModel)]="expireDate" />
       </div>

          <div class="form-group">
          <label for="jobTypeId">Job Type ID</label>
          <input type="email" class="form-control"   placeholder="Enter job id" type="number" [(ngModel)]="jobTypeId">
        

         <div class="form-group">
            <label for="LocationId">Location ID</label>
            <input  class="form-control"   placeholder="Enter location id" type="number" [(ngModel)]="locationId"  />
            
        </div>
           <div class="form-group">
            <label for="recruiterId">Recruiter Id</label>
            <input  class="form-control" placeholder="Enter recruiter id" type="number" [(ngModel)]="recruiterId" />

               </div>
           <div class="form-group">
            <label for="sectorId">Sector Id</label>
            <input  class="form-control"  placeholder="Enter sector id" type="number" [(ngModel)]="sectorId" />
            <br>
   
        <button type="submit" class="btn btn-primary" (click)="addJob(job_title,description,salary,expireDate,jobTypeId,locationId,recruiterId,sectorId)" >Save job</button>
               
		 					
            </div>
            
        <div class="col-md-3"></div>
      </div>	
         
  </div>

  
     
</div>
 
  