
<app-dashboard></app-dashboard>
<div class="fluid-container">
		<div class="row">

			<div class="col-md-12">
				<div class="col-md-3"></div>

					<div class="col-md-6 well">

            <ul>
            <li *ngFor="let obj of job">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="./assets/absa.jpg" width="20%" height="20%" alt="Card image cap">
                  <div class="card-body">
                    <h3 class="card-title">{{obj._title}}</h3>
                     <h5 class="card-title">{{obj._jodDesc}}</h5>
                     <h5 class="card-title">{{obj._salary}}</h5>
                    <h5 class="card-text">Questions Posted:</h5>
                    <button type="submit" class="btn btn-primary" (click)="view(obj._jobid)">View</button>  
                  </div>
                </div>      
             <br />
             </li> 
            </ul>

        <div class="col-md-3"></div>
      </div>	
         
  </div>
     
</div>



