<app-dashboard></app-dashboard>

<div class="fluid-container">
		<div class="row">

			<div class="col-md-12">
				<div class="col-md-3"></div>

					<div class="col-md-6 well">
				
		 				<div >
                                <label >Firstname: </label> <br>
                                <label >Surname: </label> <br>
                                <label >Username: </label> <br>
                                <label >Password: </label> <br>
                                <label >Email Address: </label> <br>
                                <label >Companyname: </label> <br>
                                <label >Company Address: </label> <br>
                                <label >Company Contact: </label> <br>
                                <button  class="btn btn-primary" (click)="updateProfile()" >Edit Profile</button>
                                <button  class="btn btn-primary" (click)="changePassword()" >Change Password</button>
                         </div>	
            </div>
            
        <div class="col-md-3"></div>
      </div>	
         
  </div>   
</div>
 
  