<nav class="navbar navbar-dark bg-primary">
  <ul>
<a  class="navbar-brand" routerLink="/post-job" routerLinkActive="active">Post job </a>
<a  class="navbar-brand" routerLink="/job-posted" routerLinkActive="active">Job Posted </a>
<a  class="navbar-brand" routerLink="/pending-applications" routerLinkActive="active">Applications </a>
  </ul>

<ul class="nav navbar-nav navbar-right">
 <li> <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search Job" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form></li>
      <li><a  class="navbar-brand" routerLink="/profile" routerLinkActive="active"> Dashboard</a></li>
       <li><a  class="navbar-brand" routerLink="/login" routerLinkActive="active"> Logout</a></li>
    </ul>
</nav>

 <router-outlet></router-outlet>