
	
	<div class="fluid-container">
		<div class="row">
	
			<div class="col-md-12">
				<div class="col-md-3"></div>

					<div class="col-md-6 well">
					<h1>Forgot Password</h1>

						<form method=""  action="blank.html">


		 					<label  class="control-label">E-mail</label>
		 					<input type="email"  class="form-control" placeholder="Enter email">
		 					
		 					<br>

		 					<button type="submit" class="btn btn-primary" (click)="sendPass()">Submit</button>
		 					
		 					
						</form>
						</div>
				<div class="col-md-3"></div>
			</div>
		
			</div>
			</div>