   
<app-dashboard></app-dashboard>
<div class="fluid-container">
		<div class="row">

			<div class="col-md-12">
				<div class="col-md-3"></div>

					<div class="col-md-6 well">
					   <h2>Update Profile</h2>
       

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" [(ngModel)]="firstName"   required />
            </div>

             <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="lastname"   required />
            
            </div>

        <div class="contain">

            <label for="username">Username</label>
            <input type="text" class="form-control" [(ngModel)]="username"   required />
            
        </div>

        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" >
       </div>

          <div class="form-group">
          <label for="email1">Email address</label>
          <input type="email" class="form-control"  [(ngModel)]="email" >
         
        </div>

         <div class="form-group">
            <label for="company">Company Name</label>
            <input type="text" class="form-control" [(ngModel)]="companyName"   required />
            
        </div>
           <div class="form-group">
            <label for="company_address">Company Address</label>
            <input type="text" class="form-control" [(ngModel)]="companyAddress"  required />
            
        </div>
           <div class="form-group">
            <label for="contact_number">Contact number</label>
            <input type="text" class="form-control" [(ngModel)]="phone"  required />
          
          <br>
        <button type="submit" class="btn btn-primary"  (click)="editProfile(firstName,lastname,username,password,email,companyName,companyAddress,phone)">Save Profile</button>
               
		 					
            </div>
            
        <div class="col-md-3"></div>
      </div>	
         
  </div>

  
     
</div>
 
  