   

<div class="fluid-container">
		<div class="row">

			<div class="col-md-12">
				<div class="col-md-3"></div>

					<div class="col-md-6 well">
					   <h2>Create a Recruiter Account</h2>
        <p>Please enter your details in the form below.</p>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" placeholder="Enter first" [(ngModel)]="firstName" />
           
            </div>

             <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control"   placeholder="Enter last name" [(ngModel)]="lastname" />
            
            </div>

        <div class="contain">

            <label for="username">Username</label>
            <input type="text" class="form-control"   placeholder="Enter username" [(ngModel)]="username" />
            
        </div>

        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control"  placeholder="Password" [(ngModel)]="password">
       </div>

          <div class="form-group">
          <label for="email1">Email address</label>
          <input type="email" class="form-control"   placeholder="Enter email" [(ngModel)]="email"> 
         
        </div>
        <div class="form-group">
        <label for="avatar">File input</label>
        <input type="file" class="form-control-file" aria-describedby="fileHelp"placeholder="upload avatar">
        </div>

         <div class="form-group">
            <label for="company">Company Name</label>
            <input type="text" class="form-control"   placeholder="Enter company name" [(ngModel)]="companyName"/>
            
        </div>
           <div class="form-group">
            <label for="company_address">Company Address</label>
            <input type="text" class="form-control"  placeholder="Enter company address" [(ngModel)]="companyAddress"/>
            
        </div>
           <div class="form-group">
            <label for="contact_number">Contact number</label>
            <input type="text" class="form-control"  placeholder="Enter Contact number" [(ngModel)]="phone"/>
          
          <br>
        <button type="submit" class="btn btn-primary"  (click)="registerUser(firstName,lastname,email,username,password,phone,companyName,companyAddress)">Register</button>
               
		 					
            </div>
            
        <div class="col-md-3"></div>
      </div>	
         
  </div>

  
     
</div>
 
  